#handle{
    display:none;
}
body{
    background:#e7eaed;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}
h1{
    font-size: 28px;
    padding: 10px 20px;
    color: #575ed8;
    font-family: monospace;
}
#chat{
    max-width: 700px;
    margin: auto;
    border: 2px solid #4e8890;
    border-radius: 10px 0px 10px 0px;
    background: #d7e5e9;
}

#chat-window{
    height: 420px;
    overflow: auto;
    background: #eef0fb;
    border-radius:10px 0px 10px 0px;
}

#output p{
    padding: 15px 15px;
    margin: 0;
    color: #555;
}

#output p:nth-of-type(odd){
    padding: 15px 15px;
    margin: 0;
    color: #555;
    background: #d7e1f5;
}

#notify p{
    color: #aaa;
    padding: 15px 15px;
    margin: 1px;
    border-bottom: 1px solid #e0eced;
}

input{
    padding: 10px;
    box-sizing: border-box;
    background: #eee;
    border: 1px solid darkgrey;
    display: block;
    width: 85%;
    float: left;
    background: #fff;
    border-bottom: none;
    font-family: cursive;
    font-size: 16px;
    border-radius: 3px;
}


button{
    background: #333cd6;
    color: rgb(230, 238, 239);
    font-size: 20px;
    border: none;
    padding: 10px 0;
    width:15%;
    border-radius: 10px;
}

button:focus {
    outline:0;
}




#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

